<%= form_for(@entry, html: { role: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', required: true, placeholder: 'Название' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Описание' %>
  </div>
  <div class="form-group">
    <%= f.text_field :price, class: 'form-control', placeholder: 'Цена' %>
  </div>
  <div class="form-group">
    <%= f.attachinary_file_field :image, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :title, { include_blank: true }, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Сохранить', data: { disable_with: 'Сохраняем...' }, class: 'btn btn-d' %>
  </div>
<% end %>