<div class="nav center">
  <h3><%= link_to 'ФУДКОРНЕР', root_path %></h3>
  <ul>
    <li><%= link_to 'МЕНЮ', ("#{categories_path}#{"/ossetian-pies"}") %></li>
    <li><%= link_to 'ДОСТАВКА', delivery_path %></li>
    <li><%= link_to 'О НАС', about_path %></li>
    <li><%= link_to 'КОНТАКТЫ', contacts_path %></li>
  </ul>
</div>