<ul class="nav-menu center">
  <%= link_to("#{root_path}#{"menu/burgers"}") do %>
    <li>
      <%= image_tag 'burger.png' %>
      <p>бургеры</p>
    </li>
  <% end %>
  <%= link_to("#{root_path}#{"menu/ossetian-pies"}") do %>
    <li>
      <%= image_tag 'baker.png' %>
      <p>осетинские пироги</p>
    </li>
  <% end %>
  <%= link_to("#{root_path}#{"menu/shawarma"}") do %>
    <li>
      <%= image_tag 'shaurma.png' %>
      <p>шаверма</p>
    </li>
  <% end %>
  <%= link_to("#{root_path}#{"menu/wok"}") do %>
    <li>
      <%= image_tag 'wok.png' %>
      <p>вок</p>
    </li>
  <% end %>
  <%= link_to("#{root_path}#{"menu/soups"}") do %>
    <li>
      <%= image_tag 'soup.png' %>
      <p>супы</p>
    </li>
  <% end %>
  <%= link_to("#{root_path}#{"menu/salads"}") do %>
    <li>
      <%= image_tag 'salad.png' %>
      <p>салаты</p>
    </li>
  <% end %>
  <%= link_to("#{root_path}#{"menu/desserts"}") do %>
    <li>
      <%= image_tag 'dessert.png' %>
      <p>десертты</p>
    </li>
  <% end %>
  <%= link_to("#{root_path}#{"menu/drinks"}") do %>
    <li>
      <%= image_tag 'coffee.png' %>
      <p>напитки</p>
    </li>
  <% end %>
</ul>